h1 {
    display: inline-block;
}
nav {
    display: inline-block;
}
.fundo-imagem {
    margin: none;
    padding: 100px;
    background-color: grey;
}
.link-imagem {
    margin: none;
    display: flexbox;
}
/* Criação de um carrossel com css */
.carrossel {
    margin: 0px auto;
    width: 500px;
    overflow: hidden;
}
.images {
    display: flex;
    /* animation: slide 12s infinite; */
    transition: transform 0.5s ease-in-out; /* Smooth sliding effect */
}
.image {
    min-width: 500px;
}
/* Code para mudança de imagem por setas */
.nav {
    position: absolute;
    top: 80%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    cursor: pointer;
}
.prev {
    left: 80px;
}
.next {
    right: 80px;
}
/* Code para a mudança de imagem automática */

/* @keyframes slide {
    0% { transform: translateX(0); }
    33% { transform: translateX(0); }
    36% { transform: translateX(-300px); }
    69% { transform: translateX(-300px); }
    72% { transform: translateX(-600px); }
    100% { transform: translateX(-600px); }
} */