@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

main {
    box-sizing: content-box;
    padding: 20px;
    margin-inline: 0%;
}
.navbar{
    background-color: rgb(236, 233, 233);
    border-radius: 5px;
}
.link {
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    color: black;
    text-decoration: none;
}
.link:hover {
    color: white;
    background-color: rgb(167, 163, 163);
    text-shadow: 2px 2px 3px rgb(236, 233, 233);
}

.secao {
    display: inline-block;
    padding: 100px;
}
#secao-sobre {
    padding: 50px 100px 50px 100px;
}
.titulo {
    margin: 0;
    text-shadow: 3px 3px 1px rgb(228, 218, 218);
}
.subtitulo{
    width: 500px;
    margin: 0;
    text-shadow: 3px 3px 1px rgb(228, 218, 218);
}
/* AQUI temos a forma correta para cortar uma imagem e colocá-la no site sem distorcê-la */
.img {
    display: flexbox;
    width: 200px; /* largura da seção */
    height: 200px; /* altura da seção */
    background-image: url(../assets/IMG-20240512-WA0038.jpg) ;
    background-position: center; /* Posição da seção que você quer mostrar */
    background-size: 200px 250px; /* Tamanho total da imagem selecionada (que está de "background" na seção*/
    border-radius: 100%;
}

#fonte {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
#linkedin-svg {
    display: inline;
    width: 25px;
}
#github-svg {
    display: inline;
    width: 20px;
}
