@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

#corpo-fonte {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
/* AQUI temos a forma correta para cortar uma imagem e colocá-la no site sem distorcê-la */
.img {
    display: flex;
    width: 200px;
    height: 200px;
    background-image: url(../assets/IMG-20240512-WA0038.jpg);
    background-position: center;
    background-size: 200px 250px;
    border-radius: 100%;
    margin: auto 0;
}
/*////////////////////////////////////////////////*/
body {
    margin: 0;
    background-image: linear-gradient(90deg, rgb(255, 255, 255), rgb(155, 247, 253));
}
/*////////////////////////////////////////////////*/
nav{
    background-color: rgb(236, 233, 233);
    border-radius: 5px;
    margin: 0 auto;
}
.link {
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    color: black;
    text-decoration: none;
}
.link:hover {
    color: white;
    background-color: rgb(167, 163, 163);
    text-shadow: 2px 2px 3px rgb(236, 233, 233);
}
/*////////////////////////////////////////////////*/
main {
    display: block;
    padding: 20px;
    margin: 10% 23%;
    background-image: linear-gradient(285deg, rgb(255, 255, 255), rgb(155, 247, 253));
}
main#corpo-inicio, main#corpo-contato {
    border: solid black;
}
main#corpo-sobre {
    margin: 5% 12%;
}
/*////////////////////////////////////////////////*/
section.secao {
    display: flex;
}
section#secao-inicio {
    text-shadow: 2px 2px 2px rgb(49, 173, 146);
}
section#secao-sobre {
    
}
.artigo {
    width: 500px;
}
.paragrafo {
    display: flex;
    text-align: center;
}
.lista {
    display: block;
    background-color: white;
    margin: 10px;
}
/*////////////////////////////////////////////////*/
footer {
    display: inline-block;
    margin: auto 0;
    bottom: 0;
}
#linkedin-svg {
    display: inline;
    width: 25px;
}
#github-svg {
    display: inline;
    width: 20px;
}
#cellphone-svg {
    display: inline;
    width: 25px
}
#mail-svg {
    display: inline;
    width: 20px;
}