.cabecalho {
    background: lightblue;
}
.secao {
    padding: 100px;
}
.subtitulo{
    display: block;
    background: rgb(201, 201, 207);
    width: 500px;
}
#img-perfil-inicio {
    display: flexbox;
    width: 200px;
    height: 200px;
    border-radius: 100%;
}
#img-perfil-contato {
    display: flexbox;
    width: 200px;
    height: 200px;
    border-radius: 100%;
}